/** SIDEBAR MENU **/
.off-canvas {
    background-color: $bg-800;
}

.off-canvas,
.off-canvas a {
    color: $clouds;
    text-decoration: none;
}

.off-canvas ul {
    margin-left:0;
    padding: 0;
}

.off-canvas ul li {
    padding: 15px 12px;
    list-style: none;
}

.off-canvas ul li:hover {
    background-color: $bg-900;
}
