$avatar-width : 128px;
$avatar-height: 128px;

.profile {
    position: relative;
    width:$avatar-width;
}
.avatar {
  z-index: -1;
}
.avatar-action {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:3px;
    z-index: 1;
    text-align:center;
    color:#f4f4f4;
    background-color:rgba(1,2,3,.5);
}
.dropzone {
    width:$avatar-width;
    height:$avatar-height;
    z-index: 1;
    // background: url('/img/default-avatar.jpg') no-repeat;
}
.dz-error-mark,
.dz-filename,
.dz-size {
    display:none;
}
.dz-preview {
    position: relative;
}
.dz-success-mark svg,
.dz-error-mark svg{
    width:32px;
    height:32px;
}
.dz-success-mark,
.dz-error-mark {
    position:absolute;
    top:10px;
    right:10px;
}
.dz-progress {
    margin-top:90px;
}
.dropzone .dz-preview.dz-processing .dz-progress {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.dropzone .dz-preview.dz-complete .dz-progress {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
}
.dropzone .dz-preview:not(.dz-processing) .dz-progress {
    -webkit-animation: pulse 6s ease infinite;
    -moz-animation: pulse 6s ease infinite;
    -ms-animation: pulse 6s ease infinite;
    -o-animation: pulse 6s ease infinite;
    animation: pulse 6s ease infinite;
}
.dropzone .dz-preview .dz-progress {
    opacity: 1;
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    height: 16px;
    left: 50%;
    top: 50%;
    margin-top: 70px;
    width: 80px;
    margin-left: -40px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transform: scale(1);
    border-radius: 3px;
    overflow: hidden;
}

.dropzone .dz-preview .dz-progress .dz-upload {
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
}

.dz-error-message {
    max-width:$avatar-width;
}

.dz-image {
    display:none;
}
