html,
body {
    background-color: $clouds;
}

a {
    text-decoration: none;
}

.container {
	@include outer-container;

    &.content {
        margin-top: em(40);
        @include padding(15px);
        line-height: em(22);
        background-color: white;
    }
}
